#content{
    background-color: #F5F5F5;
    width: 800px;
    height: 300px;
    align-content: center;
    position: relative;
    top: 150px;
    left: 300px;
}
body{
    background-color:blue;
}
h2{
    font-family: 'Roboto', sans-serif;
    opacity: 0.8;
    text-align: center;
    position: relative;
    top: 15px;
}
#input-text{
    width: 90%;
    height: 35px;
    margin-left: 35px;
    margin-top: 20px;
    border-radius: 5px;
}
#submit_button{
    margin-top: 15px;
    margin-left: 340px;
    
}
#message{
    color: #95B8D7;
}